@media  screen and (max-width: 720px) {
    header {
        width: 90%;
        margin: auto;
    }

    .img-main {
        width: 250px;
        height: 200px;
        background-position: center;
        border: 1px solid black;
    }

    h2 {
        font-size: 30px;
    }

    .projects {
        border: 1px solid black;
    }

    .project {
        width: 90%;
    }

    .img-project {
        border: 1px solid black;
        margin: auto;
        width: 600px;
        height: 500px;
    }

    footer {
        position: relative;
    }

    .social-midia .box {
        position: absolute;
        right: 0;
    }

    .box {
        position: relative;
        bottom: 0;
    }
}