* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

a{
    font-size: 18px;
    color: black;
    text-decoration: none;
}

header {
    margin-top: 10px;
    height: 70px;
    display: flex;
    align-items: center;
}

.container-header {
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-header nav ul {
    display: flex;
}

.container-header nav ul li {
    list-style: none;
    margin-left: 10px;
    text-align: center;
}

.container-header nav ul li a button {
    width: 110px;
    height: 40px;
    font-size: 1rem;
    font-weight: 500;
    border: none;
    cursor: pointer;
}

main {
    margin-top: 100px;
}
.container-main {
    width: 90%;
    margin: 0 auto;
    display: flex;
}

.img-main {
    border-radius: 10px;
    background-image: url("./assets/minha\ foto.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 450px;
    height: 400px;
}

h2 {
    font-size: 50px;
    margin: 30px 0 30px 30px;
}

.title-main p{
    font-size: 18px;
    margin-left: 30px;
}

.experience {
    width: 90%;
    margin: 50px auto;
    text-align: center;
}

.experience h3 {
    font-size: 40px;
}

.experience p {
    font-size: 18px;
    margin-top: 15px;
}

.projects {
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project {
    border: 1px solid black;
    padding: 20px;
}

.img-project {
    width: 100%;
    height: 150px;
    background-color: rgba(0, 0, 0, 0.411);
}

.bnt-project ul {
    display: flex;
}

.bnt-project ul li {
    list-style: none;
    margin-left: 10px;
}