* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

a{
    font-size: 18px;
    color: black;
    text-decoration: none;
}

header {
    margin-top: 10px;
    height: 70px;
    display: flex;
    align-items: center;
}

.container-header {
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-header nav ul {
    display: flex;
}

.container-header nav ul li {
    list-style: none;
    margin-left: 10px;
    text-align: center;
}

.container-header nav ul li a button {
    width: 110px;
    height: 40px;
    font-size: 1rem;
    font-weight: 500;
    border: none;
    cursor: pointer;
}

main {
    margin-top: 100px;
}

.container-main {
    width: 90%;
    margin: 0 auto;
    display: flex;
}

.img-main {
    border-radius: 10px;
    background-image: url("./assets/minha\ foto.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 450px;
    height: 400px;
}

h2 {
    font-size: 50px;
    margin: 30px 0 30px 30px;
}

.title-main p{
    font-size: 18px;
    margin-left: 30px;
}

.experience {
    width: 90%;
    margin: 50px auto;
    text-align: center;
}

.experience h3 {
    font-size: 40px;
}

.experience p {
    font-size: 18px;
    margin-top: 15px;
}

.projects {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project {
    border: 1px solid rgb(141, 139, 139);
    padding: 15px;
    margin-left: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    text-align: center;
}

.project p {
    text-align: left;
    font-weight: 500;
    margin-top: 15px;
    margin-left: 15px;
}
h4 {
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    margin: 15px 0 0 20px;
}

.img-project {
    width: 300px;
    height: 200px;
    background-image: url('./assets/Qrcode.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 5px;
}
.bnt-project {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bnt-project ul {
    display: flex;
    
}

.bnt-project ul li {
    list-style: none;
    margin-left: 20px;
}

.bnt-project ul li a button {
    width: 80px;
    height: 30px;
    border-radius: 5px;
    border: none;
    font-weight: 600;
    cursor: pointer;
}

footer {
    background-color: rgba(0, 0, 0, 0.959);
    height: 300px;
    color: #FFF;
}

.social-midia {
    width: 90%;
    margin: auto;
}

.social-midia .box {
    width: 20%;
    margin: 15px auto 15px 880px;
    display: flex;
    height: 80px;
    align-items: center;
}

.social-midia .box p {
    margin-left: 10px;
    font-size: 18px;
}

.img-linkedin,.img-outlook,.img-github {
    height: 50px;
    width: 50px;
}

.img-linkedin {
    background-color: #FFF;
    border-radius: 80px;
    background-image: url('./assets/LinkedIn_Rounded_icon-icons.com_61573.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.img-outlook {
    border-radius: 50%;
    background-color: #FFF;
    background-image: url('./assets/Outlook_icon-icons.com_68993.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.img-github {
    border-radius: 50%;
    background-color: #FFF;
    background-image: url('./assets/github_icon-icons.com_65450.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* .social-midia .box:nth-child(1) {

} */